body {
  background: #2A3963;
  padding-top: 91px;
}

.bg-custom {
  background: #253256;
}

.navbar-brand {
  font-size: 1.5rem;
  padding-left: 2vw;
  transition: all ease-out 0.2s;
}

.navbar-brand:hover {
  transform: scale(1.01, 1.01);

}

.navbar-brand img {
  width: 65px;
}

.navbar-nav {
  padding-right: 2vw;
}

li.active {
  border: 0.05rem solid white;
}

li.nav-item {
  font-size: 1.2rem;
  transition: all ease-out 0.2s;
}

li.nav-item:hover {
  transform: scale(1.01, 1.01);
}

#home-hero {
  height: calc(100vh - 91px);
  background: transparent;
  color: #FFF;
}

#home-hero img {
  margin-top: 8vh;
  width: 18vw;
  border: 0.1rem solid white;
}

#home-hero .btn {
  margin-top: 5vh;
}

.section {
  height: calc(100vh - 0px);
  border-style: solid;
  border-color: red;
  border: 1px;
  color: #FFF;
}

.section.light {
  background: #FFF;
  color: #000;
}

.section h1.display-4 {
  margin-top: 8vh;
}

.card, .card img {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
  cursor: pointer;
}


h2::before {
  display: block;
  content: " ";
  margin-top: -91px;
  height: 91px;
  visibility: hidden;
  pointer-events: none;
}
